body{
  font-family: sans-serif;
  text-decoration-style: solid;
  color: black;
  margin-top: 10px;
  font-weight: 50rem;
  background: lightcyan;
}

h1{
  font-size: 5rem;
}
h4{
  margin: 20px 20px 0px 20px;
  line-height: 1px;
}

h2{
  margin: 20px;
}

.images{
  height: 300px;
  width:300px;
  margin: 28px;
}

.contact{
    background: rgb(89, 243, 243);
    height: 500px;
    width: 360px;
    padding-top: 10px;
    margin: 15px;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

